---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogCard from "@components/BlogCard.astro";
import { getCollection } from "astro:content";
import { formatBlogPosts, slugify } from "@utils/helpers";

export async function getStaticPaths() {
    const allBlogPosts = await getCollection("blog");
    const formattedBlogPosts = formatBlogPosts(allBlogPosts);

    const uniqueCategory = [
        ...new Set(
            formattedBlogPosts.map((post) => slugify(post.data.category))
        ),
    ];

    return uniqueCategory.map((category) => {
        const filteredPosts = formattedBlogPosts.filter((post) =>
            slugify(post.data.category).includes(category)
        );
        return {
            params: { category },
            props: { posts: filteredPosts },
        };
    });
}

const { category } = Astro.params;
const { posts } = Astro.props;

const title = `Posts categorised under ${category}`;
const description = `Posts categorised under ${category}`;
---

<BaseLayout title={title} description={description}>
    <div class="layout">
        <h1 class="text-2xl">
            View the latests posts on
            <span
                class="text-purple-900 tracking-tight font-semibold uppercase underline underline-offset-4"
                >{category}</span
            >
        </h1>

        <div class="mt-8 grid gap-8 card-container">
            {posts.map((post) => <BlogCard post={post} />)}
        </div>
    </div>
</BaseLayout>
