---
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { slugify } from "@utils/helpers";
import { Picture, Image } from "@astrojs/image/components";

const { title, summary, pubDate, updatedDate, image, category } = Astro.props;

const description = "This is the description";
---

<BaseLayout title={title} description={description}>
    <main class="space-y-8">
        <section class="layout">
            <div class="max-w-lg mx-auto text-center space-y-3">
                <span
                    class="text-md text-purple-900 font-semibold uppercase tracking-wider"
                >
                    <a href={`/category/${slugify(category)}`}>{category}</a
                    ></span
                >
                <h1 class="font-heading font-bold text-3xl lg:text-4xl">
                    {title}
                </h1>

                <FormattedDate
                    date={pubDate}
                    class="text-gray-900 text-lg block"
                />
            </div>
        </section>
        <div>
            {
                image && (
                    <Picture
                        src={image.src}
                        alt={image.alt}
                        format="webp"
                        widths={[200, 400, 800, 1000]}
                        sizes="(max-width: 800px) 100vw, 1000px"
                        aspectRatio="16:9"
                        class="mx-auto shadow-md rounded"
                    />
                )
            }
        </div>
        <article class="layout typography">
            <slot />
        </article>
    </main>
</BaseLayout>
