---
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { slugify } from "@utils/helpers";
import { Picture } from "@astrojs/image/components";

const { title, pubDate, image, category } = Astro.props;

const description = "This is the description";
---

<BaseLayout title={title} description={description}>
  <main class="layout">
    <div class="grid md:grid-cols-3 gap-6">
      <div class="md:col-span-2">
        <span
          class="text-md text-purple-900 hover:text-purple-700 font-medium uppercase tracking-wider"
        >
          <a href={`/category/${slugify(category)}`}>{category}</a></span
        >
        <h1
          class="my-6 font-heading font-semibold leading-tight text-2xl md:text-3xl lg:text-4xl"
        >
          {title}
        </h1>
        <FormattedDate
          date={pubDate}
          class="text-gray-900 tracking-wide block text-md"
        />

        <Picture
          src={image.src}
          alt={image.alt}
          widths={[200, 400, 800, 1000]}
          sizes="(max-width: 800px) 100vw, 800px"
          aspectRatio="16:9"
          class="rounded my-4"
        />

        <article class="typography">
          <slot />
        </article>
      </div>

      <div>Sidebar</div>
    </div>
  </main>
</BaseLayout>
