---
import { Image, Picture } from "@astrojs/image/components";
import { slugify } from "@utils/helpers";
import FormattedDate from "./FormattedDate.astro";

const { post } = Astro.props;
const { title, summary, pubDate, category, image } = post.data;
---

<article>
    <a href={`/blog/${post.slug}/`}>
        <Picture
            src={image.src}
            alt={image.alt}
            widths={[200, 400, 800]}
            sizes="(max-width: 800px) 100vw, 800px"
            aspectRatio="16:9"
            format="webp"
            class="rounded-md shadow"
        />
    </a>

    <div class="py-3">
        <div class="flex flex-wrap items-center space-x-2">
            <span
                class="text-sm tracking-wider font-semibold text-purple-900 uppercase"
            >
                <a href={`/category/${slugify(category)}`}>{category}</a></span
            >

            <div>&bull;</div>

            <FormattedDate date={pubDate} class="text-md text-gray-900" />
        </div>

        <h2
            class="py-4 text-2xl font-bold font-heading tracking-tight leading-tight"
        >
            <a href={`/blog/${post.slug}/`}>{title}</a>
        </h2>
        <div class="text-md">
            {summary}
        </div>
    </div>
</article>
