---
import { Image, Picture } from "@astrojs/image/components";
import { slugify } from "@utils/helpers";
import FormattedDate from "./FormattedDate.astro";

const { post } = Astro.props;
const { title, summary, pubDate, category, image } = post.data;
---

<article class="shadow rounded">
    <a href={`/blog/${post.slug}/`}>
        <Picture
            src={image.src}
            alt={image.alt}
            widths={[200, 400, 800]}
            sizes="(max-width: 800px) 100vw, 800px"
            aspectRatio="16:9"
            format="webp"
            class="rounded-t"
        />
    </a>

    <div class="p-4">
        <div class="flex flex-wrap items-center justify-between pb-4">
            <a
                href={`/category/${slugify(category)}`}
                class="text-sm tracking-wider font-semibold text-purple-900 uppercase"
                >{category}</a
            >

            <FormattedDate
                date={pubDate}
                class="text-sm text-gray-900 tracking-wider font-semibold"
            />
        </div>

        <h2 class="pb-4 text-2xl font-semibold font-heading">
            <a href={`/blog/${post.slug}/`}>{title}</a>
        </h2>
        <div class="text-md">
            {summary}
        </div>
    </div>
</article>
