---
import { Image, Picture } from "@astrojs/image/components";
import { slugify } from "@utils/helpers";
import FormattedDate from "./FormattedDate.astro";

const { post } = Astro.props;
const { title, summary, pubDate, category, image } = post.data;
---

<article class="flex flex-col custom-shadow rounded bg-white">
    <a href={`/blog/${post.slug}/`}>
        <Picture
            src={image.src}
            alt={image.alt}
            widths={[200, 400, 800]}
            sizes="(max-width: 800px) 100vw, 800px"
            aspectRatio="16:9"
            class="rounded-t"
        />
    </a>

    <div class="p-4 space-y-4">
        <div class="flex flex-wrap items-center justify-between">
            <a
                href={`/category/${slugify(category)}`}
                class="text-sm tracking-wider font-medium text-red-900 hover:text-red-700 uppercase"
                >{category}</a
            >
            <FormattedDate
                date={pubDate}
                class="text-sm font-light tracking-wider"
            />
        </div>

        <h2 class="text-xl font-medium font-heading leading-tight">
            <a href={`/blog/${post.slug}/`}>{title}</a>
        </h2>

        <div class="font-light">
            {summary}
        </div>
    </div>
</article>
