---
import { Image, Picture } from "@astrojs/image/components";
import { slugify } from "@utils/helpers";
import FormattedDate from "./FormattedDate.astro";

const { post } = Astro.props;
const { title, summary, pubDate, category, image } = post.data;
---

<article class="flex flex-col custom-shadow rounded">
    <a href={`/blog/${post.slug}/`}>
        <Picture
            src={image.src}
            alt={image.alt}
            widths={[200, 400, 800]}
            sizes="(max-width: 800px) 100vw, 800px"
            aspectRatio="16:9"
            class="rounded-t"
        />
    </a>

    <div class="p-4 space-y-4">
        <div class="flex flex-wrap items-center justify-between">
            <a
                href={`/category/${slugify(category)}`}
                class="text-sm tracking-wider font-semibold text-purple-900 uppercase"
                >{category}</a
            >

            <FormattedDate date={pubDate} class="text-sm tracking-wider" />
        </div>

        <h2 class="text-xl font-medium font-heading leading-snug">
            <a href={`/blog/${post.slug}/`}>{title}</a>
        </h2>

        <div class="font-light">
            {summary}
        </div>
    </div>
</article>

<!-- <style>
    .card {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        transition: all 0.1s ease-in;
    }
    .card:hover {
        top: -2px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    }
</style> -->
