---
import { Picture } from "@astrojs/image/components";
import { slugify } from "@utils/helpers";
import FormattedDate from "./FormattedDate.astro";
import CalendarSVG from "./CalendarSVG.astro";

const { post } = Astro.props;
const { title, summary, pubDate, category, image } = post.data;
---

<article class="flex flex-col">
  <a href={`/blog/${post.slug}/`}>
    <Picture
      src={image.src}
      alt={image.alt}
      widths={[200, 400, 800]}
      sizes="(max-width: 800px) 100vw, 800px"
      aspectRatio="16:9"
      class="rounded-md shadow-md object-cover"
    />
  </a>

  <a
    href={`/category/${slugify(category)}`}
    class="text-sm tracking-wider font-bold text-purple-900 hover:text-purple-950 mt-4 mb-3"
    >{category.toUpperCase()}</a
  >

  <h2
    class="text-2xl lg:text-3xl font-medium font-heading leading-tight mb-4 heading"
  >
    <a href={`/blog/${post.slug}/`}>{title}</a>
  </h2>
  <div class="font-light tracking-wide">
    {summary}
  </div>

  <div class="flex items-center space-x-1 pt-4 mt-auto">
    <CalendarSVG />

    <FormattedDate date={pubDate} class="text-sm font-light" />
  </div>
</article>
