---
import { Picture } from "@astrojs/image/components";
import FormattedDate from "./FormattedDate.astro";
import { slugify } from "@utils/helpers";

const { post } = Astro.props;
const { title, summary, pubDate, category, image } = post.data;
---

<!-- [#CCE6D0] -->
<article class="grid md:grid-cols-3 md:gap-2 bg-teal-100 shadow-lg">
    <div class="md:col-span-2">
        <a href={`/blog/${post.slug}/`}>
            <Picture
                src={image.src}
                alt={image.alt}
                widths={[200, 400, 800, 1200]}
                sizes="(max-width: 800px) 100vw, 1200px"
                aspectRatio="16:9"
                format="webp"
                position={"attention"}
                class="rounded-t-lg md:rounded-l-lg md:rounded-tr-none"
            />
        </a>
    </div>

    <div class="p-6">
        <div class="my-3 md:mt-0 md:mb-3 flex flex-wrap items-center space-x-2">
            <span
                class="text-sm tracking-wider font-semibold text-purple-900 uppercase"
            >
                <a href={`/category/${slugify(category)}`}>{category}</a></span
            >

            <div>&bull;</div>

            <FormattedDate date={pubDate} class="text-sm text-gray-900" />
        </div>
        <h2
            class="my-3 text-2xl font-bold font-heading tracking-tight leading-tight"
        >
            <a href={`/blog/${post.slug}/`}>{title}</a>
        </h2>
        <div class="text-md">
            {summary}
        </div>
    </div>
</article>
